/**
* Variable classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

/* Configuration
-------------------*/


/* Font family
--------------*/
$defaultFont				: Helvetica,"Arial",sans-serif; 			//Police utilisée pour l'ensemble de l'application
$fontSize					: 13px 		!default; 						// Taille par default de la police d'application
$base-font-size				: 16px      !default; 						// Taille par defaut des navigateurs


/* Btn & icon color
-------------*/

$darkColor					: #000		!default;
$lightColor					: #fff		!default;
$successColor				: #fff		!default;	
$dangerColor				: #fff		!default;
$infoColor					: #fff		!default;
$warningColor				: #fff		!default;


/* Taille
-------------*/

$widthContainer				: 1180px 	!default; // Taille maximun d'un container
$headerHeight				: 45px	 	!default; // Hauteur du header principale
$paddingContent				: 10px		!default; //Padding du content wrapper en desktop et >
$paddingContentRwd			: 5px		!default; //Padding du content wrapper en tablet et <


/* Responsive 
-------------------------*/

// Configuration JS Module
// Tableau de configuration envoyé dans body:before
// Permet d'établir en fonction du device les differents modules qui seront chargés en javascript.
// Le traitement sera fait par JavaScript

$configPhoneJS		:	'{"device": "phone","googleMaps": false,"slider": false}' !default; 
$configTabletJS		:	'{"device": "tablet","googleMaps": true,"slider": true}' 	!default; 
$configDesktopJS 	:	'{"device": "desktop","googleMaps": true,"slider": true}'	!default; 
$configWideJS 		:	'{"device": "wide","googleMaps": true,"slider": true}'	!default; 

/* Tableau des breakpoints
----------------------------*/

$breakpoints-config :(
	(phone 		false 		640px 		$configPhoneJS)
	(tablet 	641px 		1024px 		$configTabletJS)
	(desktop 	1025px 		1180px 		$configDesktopJS)
	(wide	 	1181px 		false 		$configWideJS)
) !default;



