/**
* Variable classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

/* Responsive 
-------------------------*/

// Configuration JS Module
// Tableau de configuration envoyé dans body:before
// Permet d'établir en fonction du device les differents modules qui seront chargés en javascript.
// Le traitement sera fait par JavaScript

$configPhoneJS		:	'{"device": "phone","googleMaps": false,"slider": false,"menu" : true,"autoCloseMenu": true,"rwdMenu":true,"backTop": false}' !default; 
$configTabletJS		:	'{"device": "tablet","googleMaps": true,"slider": true,"menu" : true,"autoCloseMenu": true,"rwdMenu":false,"backTop": true}' 	!default; 
$configDesktopJS 	:	'{"device": "desktop","googleMaps": true,"slider": true,"menu" : false,"autoCloseMenu": false,"rwdMenu":false,"backTop": true}'	!default; 
$configWideJS 		:	'{"device": "wide","googleMaps": true,"slider": true,"menu" : false,"autoCloseMenu": false,"rwdMenu":false,"backTop": true}'	!default; 

/* Tableau des breakpoints
----------------------------*/

$breakpoints-config :(
	(phone 		false 		640px 		$configPhoneJS)
	(tablet 	641px 		1024px 		$configTabletJS)
	(desktop 	1025px 		1180px 		$configDesktopJS)
	(wide	 	1181px 		false 		$configWideJS)
) !default;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    phone		:  	640px,
    tablet		:  	1024px,
    desktop		: 	1180px,
    wide		:	1180px
) !default;

//Media Querie Config
$mq-configs: (
    phone		:  	$configPhoneJS,
    tablet		:  	$configTabletJS,
    desktop		: 	$configDesktopJS,
    wide		:	$configWideJS
) !default;


