/**
* Animation classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

@keyframes anim-top
{
	0%
	{
		opacity: 0;
		@include translate(0px, -50px);
	}
	100%
	{
		opacity: 1;
		@include translate(0px, 0px);
	}
}
@-webkit-keyframes anim-top
{
	0%
	{
		opacity: 0;
		@include translate(0px, -50px);
	}
	100%
	{
		opacity: 1;
		@include translate(0px, 0px);
	}
}

@keyframes anim-left
{
	0%
	{
		opacity: 0;
		@include translate(-50px, 0px);
	}
	100%
	{
		opacity: 1;
		@include translate(0px, 0px);
	}
}
@-webkit-keyframes anim-left
{
	0%
	{
		opacity: 0;
		@include translate(-50px, 0px);
	}
	100%
	{
		opacity: 1;
		@include translate(0px, 0px);
	}
}


html.cssanimations
{
	& .slider-animation
	{
		opacity: 0;
	}
	& .slider-animation.animation-top
	{
		// nom, duration, acceleration, delay, iteration, direction
		//animation: test 2s ease 0 1;
		-webkit-animation: anim-top 1s ease;
		-webkit-animation-delay: 0s;
		-webkit-animation-fill-mode:forwards;
		animation: anim-top 1s ease;
		animation-delay: 0s;
		animation-fill-mode:forwards;
	}
	& .slider-animation.animation-left
	{
		// nom, duration, acceleration, delay, iteration, direction
		//animation: test 2s ease 0 1;
		-webkit-animation: anim-left 1s ease;
		-webkit-animation-delay: 0.5s;
		-webkit-animation-fill-mode:forwards;
		animation: anim-left 1s ease;
		animation-delay: 0.5s;
		animation-fill-mode:forwards;
	}
	& .slider-animation.animation-first
	{
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}

}