/**
* Back Top classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

.back_top
{
	display: none;
	position: fixed;
	bottom: 0;
	right: 30px;
	height: 40px;
	line-height: 40px;
	background-color: $colorMain;
	color: #fff;
	cursor: pointer;
	& .back_top_icon
	{
		display: block;
		float: left;
		margin-top:4px;
	}
	& .back_top_text
	{
		display: block;
		float: left;
		font-size: .8em;
		width: 0;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		@include transition (width 0.2s linear 0s);

	}
	&:hover .back_top_text
	{
		width: 120px;
		@include transition (width 0.2s linear 0s);
	}	
}