/**
* Dropdown classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

.dropdown
{
    position: relative;
    & .dropdown-item
    {
    	cursor: pointer;
    }      	
	/* list
	-------------------*/
	& .dropdown--target
	{	
		display: none;
		position: absolute;
		list-style: none;	
		margin:0;
		padding:0;
	}
}