/**
* Sprite classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/

/* icon 32*32 white
--------------------*/

$icon-medium-white-sprite-dimensions: false;
$icon-medium-white-spacing: 20px;
@import "icon-medium-white/*.png";
@include all-icon-medium-white-sprites;

$icon-map: sprite-map("icon-medium-white/*.png") ;

[class^="icon-medium-white-"]
{
	@include hide-text;
	display: inline-block;
	height:32px;
	width:32px;
	margin:0 6px;
	vertical-align: middle;
	//@include opacity(.5);
    
  &:hover 
  {                      
    //@include opacity(1);         
  }
  &.enabled
  {
	//@include opacity(1); 
  }
  &.opacity
  {
	  @include opacity(.5);
  }
}


/* icon 16*16 white
--------------------*/

$icon-small-white-sprite-dimensions: false;
$icon-small-white-spacing: 20px;
@import "icon-small-white/*.png";
@include all-icon-small-white-sprites;

$icon-map: sprite-map("icon-small-white/*.png") ;

[class^="icon-small-white-"]
{
	@include hide-text;
	display: inline-block;
	height:16px;
	width:16px;
	margin:0 6px;
	vertical-align: middle;
	//@include opacity(.5);
    
  &:hover 
  {                      
    //@include opacity(1);         
  }
  &.enabled
  {
	//@include opacity(1); 
  }
}
/* icon 16*16 black
--------------------*/

$icon-small-black-sprite-dimensions: false;
$icon-small-black-spacing: 20px;
@import "icon-small-black/*.png";
@include all-icon-small-black-sprites;

$icon-map: sprite-map("icon-small-black/*.png") ;

[class^="icon-small-black-"]
{
	@include hide-text;
	display: inline-block;
	height:16px;
	width:16px;
	margin:0 6px;
	vertical-align: middle;
	//@include opacity(.5);
    
  &:hover 
  {                      
    //@include opacity(1);         
  }
  &.enabled
  {
	//@include opacity(1); 
  }
  &.opacity
  {
	  @include opacity(.5);
  }
}