/**
* helper Compass
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/ 


/* Pour les element float 
--------------------------*/

%clearfloat 
{
    &:after {
        display: block;
        content: "";
        clear: both 
    }
}